<html lang="en"></html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .background {
            background: url("{{ url_for('static', filename='img/MY25-KTM-85-SX-STAGE-FULL-21_XLarge.jpeg') }}") no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }

        .container{
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 560px;
        margin-top: 20px;
        background: url("{{ url_for('static', filename='img/) }}") no-repeat;
        background-position: center;
        background-size:cover ;
        border-radius: 20px;
        overflow: hidden;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
   <header class="header">
    <nav class="navbar">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
          <a href="#">Servicios</a>
          <a href="#">Beneficios</a>
          <a href="#">Contáctanos</a>
    </nav>
    <form action="" class="search-bar">
       <input type="text"  placeholder="Buscar...">
       <button><i class='bx bx-search'></i></button>
    </form>
   </header>
    <!-- LOGIN -->
    <div class="background"></div>
    <div class="container">
        <div class="item">
            <h2 class="logo"><i class='bx bxs-building'></i>LOGO</h2>
            <div class="text-item">
                <h2>¡Bienvenido! <br><span>
                    Estamos escantados de tenerte de nuevo.
                </span></h2>
                <p>Gracias a ti, estamos creciendo más allá de nuestras expectativas. 
                    Compartamos el éxito cada día.</p>
                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-tiktok'></i></a>
                </div>
            </div>
        </div>
        <div class="login-section">
            <div class="form-box login">
                <form action="{{ url_for('login.login') }}" method="POST">
                    <h2>Iniciar Sesión</h2>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user-account'></i></span>
                        <input type="text" required name="nombreU">
                        <label>Usuario</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password"  required name="contraseña">
                        <label>Contraseña</label>
                    </div>
                    <div class="remember-password">
                        <label for=""><input type="checkbox">Recuerda</label>
                        <a href="#">Olvidaste tu contraseña</a>
                    </div>
                    <button class="btn" type="submit">Ingresar</button>
                    <div class="create-account">
                        <p>¿Aún no tienes cuenta?<a href="#" class="register-link"> 
                            Registrarse</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box register">
                <form action="{{ url_for('usuarios.register') }}" method="POST">

                    <h2>Ingreso</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" name="nombre" required                                                                                           >
                        <label >Nombre</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user-account'></i></span>
                        <input type="text" name="nombreU" required                                                                                          >
                        <label>Usuario</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" name="correo" required                                                                                          >
                        <label>Email</label>
                    </div> 

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-phone'></i></span>
                        <input type="text" name="telefono" required                                                                                             >
                        <label>Teléfono</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password" name="contraseña" required                                                                                           >
                        <label>Contraseña</label>
                    </div>

                    <div class="remember-password">
                        <label for=""><input type="checkbox">Estoy de acuerdo con los términos y condiciones</label>
                    </div>

                    <button class="btn"  type="submit">Registrarse</button>
                    <div class="create-account">
                        <p>Tienes una cuenta? <a href="#" class="login-link">
                            Iniciar Sesión</a></p>
                        <p>Olvidó su contraseña? <a href="/restablecer_contraseña"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>




