<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        {% for producto in data %}
            <tr>
                <td>{{ producto.idproducto }}</td>
                <td>{{ producto.nombreproducto }}</td>
                <td>{{ producto.precioproducto }}</td>
                {% if producto.imagen %}
                    <td>
                        <a href="{{ url_for('caracteristicas.producto', id=producto.id) }}">
                            <img src="{{ url_for('static', filename='img/productos' ~producto.producto ~ '/' ~producto.imagen) }}" alt="Imagen del vehículo" style="max-width: 300px;">
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
