* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----HEADER----*/
.navbar {
    height: 10vh;
    line-height: 10vh;
    background: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand img {
    margin-right: 10px;
    width: 90px; /* Ajusta el tamaño del logo */
    height: 90px; /* Ajusta el tamaño del logo */
}

.navbar-brand span {
    font-size: 24px;
    font-family: serif;
    font-weight: bold;
    color: #000000; /* Cambia el color del nombre aquí */
}

.menu {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 20px;
    margin: 30px;
    font-family: serif;
}

nav li a:hover {
    color: #37B234;
}

/* Campo de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    font-family: serif;
}

.search-bar button {
    background-color: #37B234;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    background-color: #2a8e29;
}

/* Login */
.account {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.account i {
    color: #37B234;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 10px;
}

.media_button i {
    font-size: 24px;
    display: none;
    cursor: pointer;
}

/* Estilos responsive */
@media only screen and (max-width: 768px) {
    .main_list {
        overflow: hidden;
        height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 10vh;
        background: white;
        transition: height 0.5s ease;
    }

    .show_list {
        height: 250px;
    }

    nav ul {
        flex-direction: column;
        padding-left: 0;
    }

    nav ul li {
        margin-left: 0;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .media_button i {
        display: block;
        margin-right: 20px;
        color: #37B234;
    }

    .account {
        display: none;
    }

    .search-bar {
        flex: 1;
        margin-right: 20px;
    }
}
