<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Venta de motocicletas y accesorios en SpeedRide. Encuentra tu moto ideal y disfruta de la velocidad sobre ruedas.">
    <meta name="keywords" content="motocicletas, motos, accesorios, venta, SpeedRide, Kawasaki, Benelli, BMW, KTM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeedRide</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
  <body>
    <header class="header">
      <div class="logo">
          <img src="{{ url_for('static', filename='img/log/Logo-Photoroom.png') }}" alt="SpeedRide Logo">
      </div>
      <nav class="navbar">
          <ul>
              <li><a href="#Inicio" class="btn">Inicio</a></li>
              <li class="submenu-item">
                  <a href="#" class="btn">Catálogo</a>
                  <ul class="submenu">
                      <li class="boo"><a href="#">Motos</a></li>
                      <li class="boo"><a href="#">Accesorios</a></li>
                  </ul>
              </li>
              <li class="submenu-item">
                  <a href="#" class="btn">Servicios</a>
                  <ul class="submenu">
                      <li class="boo"><a href="#">Mantenimiento</a></li>
                      <li class="boo"><a href="#">Reparaciones</a></li>
                      <li class="boo"><a href="#">Financiamiento</a></li>
                  </ul>
              </li>
              <li><a href="/contacto" class="btn">Contáctanos</a></li>
              <li><a href="/sobre-nosotros" class="btn">Nosotros</a></li>
          </ul>
      </nav>
      <div class="InputContainer">
          <input placeholder="Buscar..." id="input" class="input" name="text" type="text">
          <label class="labelforsearch" for="input">
              <svg class="searchIcon" viewBox="0 0 512 512">
                  <path d="M416 208c0..."></path>
              </svg>
          </label>
          <div class="border"></div>
          <button class="micButton">
              <svg class="micIcon" viewBox="0 0 512 512">
                  <path d="M416 208c0..."></path>
              </svg>
          </button>
      </div>
  </header>

    <!-- Sección de Carrusel -->
    <div class="container">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/inicio/165a00aa-bb68-44b3-8e0d-3d98ceac8e6e___926c53476a818a669ce9e1de0d3f39d2.jpg') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/tvs-desktop-si.webp') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/NMAX.jpg') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/MT15.png') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/FZ.jpg') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/fd455546-597a-481a-91b1-133a1d69d56d___cd3e9d24254fa0ffce06a39af5bec5b5.webp') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/f721fd41-62dc-46cf-aea5-1bc08ea32546___851d8475f524889c82af210e6416faf9.webp') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/e64e0fdc-f2fc-44ec-916b-b261de76b120___2fa486884b378bb2210f38d4f651a6eb.webp') }}" class="carousel_img"alt="..."/>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/inicio/557644c2-8b9f-4c8b-9a99-513125160711___ab245c59d79b977bcd552834ed49c5f1.jpg') }}" class="carousel_img" alt="..."/>
        </div>

        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/inicio/165a00aa-bb68-44b3-8e0d-3d98ceac8e6e___926c53476a818a669ce9e1de0d3f39d2.jpg') }}" class="carousel_img" alt="..."/>
        </div>

      </div>
      <button class="control prev">&#10094;</button>
      <button class="control next">&#10095;</button>
  </div>

  <!---->

  
  <section class="sec">
    <h2 class="text-center">NUESTRAS MARCAS DE MOTORLAND</h2>
    <div class="carousel-wrapper">
      <div class="theme_brands">
        <div class="slide">
          <a href="https://moto100.com.co/marca/benelli">
            <img class="img-fluid" src="{{ url_for('static', filename='img/benelli.webp') }}" alt="Benelli">
          </a>
        </div>
        

        <div class="slide">
          <a href="https://moto100.com.co/marca/ktm">
            <img class="img-fluid" src= "{{ url_for('static', filename='/img/ktm.webp') }}" alt="KTM">
          </a>
        </div> 

      </div>
    </div>
  </section>


    <!--PROMOCIONES-->
    <section class="promotions">
      <small>🚀 ¡Descubre la adrenalina sobre ruedas! 🚀</small>
      <p>Explora nuestra selección exclusiva de motocicletas de alta
        calidad. Cada modelo está diseñado para ofrecerte la mejor
        experiencia de conducción. No esperes más, encuentra la moto de
        tus sueños y siente la velocidad como nunca antes.
      </p></p>
    </section>


<!--CARTS-->
<section class="productos" id="producct">
  {% for vehiculo in data %}
  <div class="row-tarje">
    <div class="produc-mo">
      <div class="card h-100" style="width: 18rem">
        {% if vehiculo.imagen %}
        <a href="{{ url_for('caracteristicas.index', id=vehiculo.id) }}">
          <img src="{{ url_for('static', filename='img/vehiculos/' ~ vehiculo.marca ~ '/' ~ vehiculo.imagen) }}" class="card-img-top imagen"
          alt="...">
        </a>
        {% endif %}
      </div>
      <hr>
      <div class="info">
        <div class="col">
          <h6 class="text-uppercase text-secondary card-product__brand">
            {{vehiculo.marca}}
          </h6>
          <h3 class="text-capitalize text-dark card-product__title">
            {{vehiculo.modelo}}
          </h3>
        </div>
        <div class="col">
          <h6 class="text-end text-dark card-product__modelo">
            {{vehiculo.año}}
          </h6>
          <h3 class="text-end card-product__price-wrapper">
            {% if vehiculo.precio_anterior != 0 %}
            <span class="card-product__price--old">{{ vehiculo.precio_anterior|formato_moneda }}</span>
            {% endif %}
            <span class="card-product__price--new">{{ vehiculo.precio|formato_moneda }}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  </body>
</html>