<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Venta de motocicletas y accesorios en SpeedRide. Encuentra tu moto ideal y disfruta de la velocidad sobre ruedas."
    />
    <meta
      name="keywords"
      content="motocicletas, motos, accesorios, venta, SpeedRide, Kawasaki, Benelli, BMW, KTM"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeedRide</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
  <body>
    <header class="header">
      <div class="logo">
          <img src="{{ url_for('static', filename='img/log/Logo-Photoroom.png') }}" alt="SpeedRide Logo">
      </div>

      <nav class="navbar">
        <ul>
          <li><a href="#Inicio" class="btn">Inicio</a></li>
          <li class="submenu-item">
            <a href="#" class="btn">Catálogo</a>
            <ul class="submenu">
              <li class="boo"><a href="#">Motos</a></li>
              <li class="boo"><a href="#">Accesorios</a></li>
            </ul>
          </li>
          <li class="submenu-item">
            <a href="#" class="btn">Servicios</a>
            <ul class="submenu">
              <li class="boo"><a href="#">Mantenimiento</a></li>
              <li class="boo"><a href="#">Reparaciones</a></li>
              <li class="boo"><a href="#">Financiamiento</a></li>
            </ul>
          </li>
          <li><a href="/contacto" class="btn">Contáctanos</a></li>
          <li><a href="/sobre-nosotros" class="btn">Nosotros</a></li>
        </ul>
      </nav>

      <div class="InputContainer">
        <form method="get" action="{{ url_for('moto_details.index') }}">
          <input 
            placeholder="Buscar..." 
            id="input" 
            class="input" 
            name="search" 
            type="text" 
            value="{{ request.args.get('search', '') }}"
          >
          <label class="labelforsearch" for="input">
            <svg class="searchIcon" viewBox="0 0 512 512">
              <path d="M416 208c0..."></path>
            </svg>
          </label>
          <button type="submit" class="micButton">
            <svg class="micIcon" viewBox="0 0 512 512">
              <path d="M416 208c0..."></path>
            </svg>
          </button>
        </form>
      </div>
  </header>

    <!-- Sección de Carrusel -->
    <div class="container">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/inicio/165a00aa-bb68-44b3-8e0d-3d98ceac8e6e___926c53476a818a669ce9e1de0d3f39d2.jpg') }}" class="carousel_img" alt="..."/>
        </div>
        <!-- Otros items de carrusel -->
      </div>
      <button class="control prev">&#10094;</button>
      <button class="control next">&#10095;</button>
    </div>

    <!-- Promociones -->
    <section class="promotions">
      <small>🚀 ¡Descubre la adrenalina sobre ruedas! 🚀</small>
      <p>Explora nuestra selección exclusiva de motocicletas de alta calidad. Cada modelo está diseñado para ofrecerte la mejor experiencia de conducción. No esperes más, encuentra la moto de tus sueños y siente la velocidad como nunca antes.</p>
    </section>

    <!-- Tarjetas de productos -->
    <section class="productos" id="productos">
      {% for vehiculo in vehiculos.items %}
      <div class="row-tarje">
        <div class="produc-mo">
          <div class="card h-100" style="width: 18rem">
            {% if vehiculo.imagen %}
            <a href="{{ url_for('caracteristicas.index', id=vehiculo.id) }}">
              <img src="{{ url_for('static', filename='img/vehiculos/' ~ vehiculo.marca ~ '/' ~ vehiculo.imagen) }}" class="card-img-top imagen" alt="...">
            </a>
            {% endif %}
          </div>
          <hr>
          <div class="info">
            <div class="col">
              <h6 class="text-uppercase text-secondary card-product__brand">{{vehiculo.marca}}</h6>
              <h3 class="text-capitalize text-dark card-product__title">{{vehiculo.modelo}}</h3>
            </div>
            <div class="col">
              <h6 class="text-end text-dark card-product__modelo">{{vehiculo.año}}</h6>
              <h3 class="text-end card-product__price-wrapper">
                {% if vehiculo.precio_anterior != 0 %}
                <span class="card-product__price--old">{{ vehiculo.precio_anterior|formato_moneda }}</span>
                {% endif %}
                <span class="card-product__price--new">{{ vehiculo.precio|formato_moneda }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if not vehiculos.has_prev %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('moto_details.index', page=vehiculos.prev_num, search=request.args.get('search', '')) }}">Anterior</a>
        </li>
        {% for page_num in vehiculos.iter_pages() %}
        <li class="page-item {% if vehiculos.page == page_num %}active{% endif %}">
          <a class="page-link" href="{{ url_for('moto_details.index', page=page_num, search=request.args.get('search', '')) }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not vehiculos.has_next %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('moto_details.index', page=vehiculos.next_num, search=request.args.get('search', '')) }}">Siguiente</a>
        </li>
      </ul>
    </nav>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
