{% extends "caracteristicas/base.html" %}

{% block title %}Características - {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}

{% block content %}
    <div class="vehicle-detail">
        <img src="{{ url_for('static', filename='img/vehiculos/' ~ vehiculo.marca|upper ~ '/' ~ vehiculo.imagen) }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}" class="vehicle-image">

        <h1 class="vehicle-title">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h1>
        <p class="vehicle-description">{{ vehiculo.descripcion }}</p>
        <ul class="vehicle-specs">
            <li><strong>Color:</strong> {{ vehiculo.color }}</li>
            <li><strong>Año:</strong> {{ vehiculo.año }}</li>
            <li><strong>Cilindraje:</strong> {{ vehiculo.cilindraje }} cc</li>
            <li><strong>Precio:</strong> {{ vehiculo.precio|formato_moneda }}</li>
            {% if vehiculo.precio_anterior != 0 %}
                <li><strong class="previous-price">Precio Anterior:</strong> {{ vehiculo.precio_anterior|formato_moneda }}</li>
            {% endif %}
        </ul>

        <form action="{{ url_for('carritos.agregar_carrito') }}" method="POST" class="add-to-cart-form" onsubmit="agregarAlCarrito(event, {{ vehiculo.id }})">
            <input type="hidden" name="tipo" value="vehiculo">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" value="1" min="1">
            <button type="submit" class="btn add-to-cart-btn">
                <i class="fas fa-shopping-cart"></i> Agregar al Carrito
            </button>
        </form>

        <a href="{{ url_for('vista.vista') }}" class="btn">Volver</a>
    </div>
    <script>
        function agregarAlCarrito(event, vehiculoId) {
            event.preventDefault();
            const form = event.target;
            const cantidad = form.querySelector('input[name="cantidad"]').value;
        
            fetch(`/agregar-al-carrito/${vehiculoId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `cantidad=${cantidad}`
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                actualizarCantidadCarrito();
            });
        }
    </script>
{% endblock %}
