{% extends "caracteristicas/base.html" %}

{% block title %}Características - {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}

{% block content %}
    <div class="vehicle-detail">
        <!-- Asegúrate de que el nombre del archivo y la carpeta estén correctos -->
        <img src="{{ url_for('static', filename='img/vehiculos/' ~ vehiculo.marca|upper ~ '/' ~ vehiculo.imagen) }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}" style="max-width: 100%; height: auto; width: 300px;">

        <h1>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h1>
        <p>{{ vehiculo.descripcion }}</p>
        <ul>
            <li><strong>Color:</strong> {{ vehiculo.color }}</li>
            <li><strong>Año:</strong> {{ vehiculo.año }}</li>
            <li><strong>Cilindraje:</strong> {{ vehiculo.cilindraje }} cc</li>
            <li><strong>Precio:</strong> {{ vehiculo.precio|formato_moneda }}</li>
            {% if vehiculo.precio_anterior != 0 %}
                <li><strong class="a2">Precio Anterior:</strong> {{ vehiculo.precio_anterior|formato_moneda }}</li>
            {% endif %}
        </ul>
        

        <form action="{{ url_for('carritos.agregar_al_carrito', id=vehiculo.id) }}" method="POST">
            <input type="hidden" name="tipo" value="vehiculo">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" value="1" min="1">
            <button type="submit" class="btn1">Agregar al carrito</button>
        </form>

        <a href="{{ url_for('vehiculo.index') }}" class="btn">Volver</a>
    </div>
{% endblock %}
